{% extends "base.html" %}

{% block content %}
<style>

    .input_table tr td {
        text-align: center;
        padding: 10px 20px 10px 20px;
    }
</style>
<h1>G code to machine an Annulus</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table class="input_table">
        <tr>
            <td>
                <p>
                    {{ form.cutter_dia.label }}<br>
                    {{ form.cutter_dia(size=8) }}<br>
                    {% for error in form.cutter_dia.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </td>
            <td>
                <p>
                    {{ form.wcs.label }}<br>
                    {{ form.wcs(size=8) }}<br>
                    {% for error in form.wcs.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    {{ form.annulus_inner_dia.label }}<br>
                    {{ form.annulus_inner_dia(size=8) }}<br>
                    {% for error in form.annulus_inner_dia.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p></td>
            <td>
                <p>
                    {{ form.annulus_outer_dia.label }}<br>
                    {{ form.annulus_outer_dia(size=8) }}<br>
                    {% for error in form.annulus_outer_dia.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </td>
        </tr>
        <tr>
            <td>
            <p>
                {{ form.annulus_depth.label }}<br>
                {{ form.annulus_depth(size=8) }}<br>
                {% for error in form.annulus_depth.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p></td>
            <td><p>
                {{ form.cut_depth.label }}<br>
                {{ form.cut_depth(size=8) }}<br>
                {% for error in form.cut_depth.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    </p></td>
        </tr>
        <tr>
            <td><p>
                {{ form.cut_side_feed.label }}<br>
                {{ form.cut_side_feed(size=8) }}<br>
                {% for error in form.cut_side_feed.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p></td>
            <td><p>
                {{ form.feed_rate.label }}<br>
                {{ form.feed_rate(size=8) }}<br>
                {% for error in form.feed_rate.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p></td>
        </tr>

        <tr><td colspan="2">
        {% for choice in form.cut_direction %}
            {{ choice }}
            {{ choice.label }}
        {% endfor %}
        </td>
        </tr>
        <tr><td colspan="2">
        <p>{{ form.submit() }}</p>
        </td>
        </tr>
    </table>

</form>

<div class="boxed">
    <h2>Stats</h2>

    <table>
        {% for l in data.stats %}
        <tr>
            <td>{{ l }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="boxed">
    <h2>G-code</h2>
    <div id="selectable" onclick="selectText('selectable')">
    {% for l in data.g_code %}
    <br>{{ l }}
    {% endfor %}
    </div>
</div>

<script>
    // Thanks to: https://stackoverflow.com/questions/1173194/select-all-div-text-with-single-mouse-click
    function selectText(containerid) {
        if (document.selection) { // IE
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
        }
    }

</script>
{% endblock %}