<html>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

    <head>
        {% if title %}
        <title>{{ title }} - G-code</title>
        {% else %}
        <title>G-code Creator</title>
        {% endif %}
    </head>
    <body>
        <div>
            G-code:
            <a href={{ url_for('index') }}>G-code</a>
            <a href={{ url_for('help') }}>Help</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
